body {
	background-color: black;
	background-repeat: repeat;
	background-attachment: fixed;
	color: white;
		background-image: url('../images/bg.png')
}

.floatLeft {
	float: left;
}

.clearFloat {
	clear: both;
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
	font-size: 3em;
}
