#headBanner{
  background-color: white;
  margin-bottom: 30px;
  width: 100%;
	height: 7em;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

.logo2{
  height: 110px;
  width: 140px;
  display: inline-block;
}

.head{
  display: inline-block;
  text-align: right;
float: right;
margin-top: 55px;
margin-right: 25px;
}

.no_dec{
  list-style: none;
  text-decoration: none;
}

.challenge_divs{
  background-color: white;
  margin: auto auto;
  width: 50%;
  border-radius: 10px;
  text-align: center;

}

a:link, a:visited, a:hover{
  list-style: none;
  text-decoration: none;
  color: black;
}

.inline{
  display: inline-block;
}

#challenge{
  width: 50%;
}

#top{
  width: 49%;
}

.text_center{
  text-align: center;
}

#player{
	margin-left: 100px;
}

iframe {
	margin-left: 300px;
	border-radius: 15px;
}
