body {
	background-color: black;
	background-repeat: repeat;
	background-attachment: fixed;
	color: white;
	background-image: url('../images/bg.png');
	background-attachment: fixed;
}

.floatLeft {
	float: left;
}

.clearFloat {
	clear: both;
	margin: 0;
	padding: 0;
}

h1 {
	margin-bottom: 10px;
	color: white;
	font-size: 3em;
}